h1 {
  color: hsla(200, 100%, 100%, .5);
  background-color: tomato;
  font-weight: bold;
}

p {
  color: magenta
  bakground-color: red;
  font-weight: bold;
}

header {
  color: gray;
  background-color: blue;
  font-weight: bold;
}

footer {
  color: magenta;
  font-weight: bold;
  background-color: magenta;
}

figcaption {
  color:red;
  background-color: green;
  font-weight: bold;
}

body {
  background-color: yellow;
}

a {
  color: blue;
  font-weight: bold;
  background-color: green;
}

nav {
  color: magenta;
  font-weight: bold;
  background-color: green;
}

.important {
  font-weight: bold;
  background-color: white;
  color: gray;
}

.green-text {
  color: green;
  font-weight: bold;
}

.pink {
  color: pink;
  background-color: white;
}
